*,
*::after,
*::before {
	margin: 0;
	padding: 0;
	box-sizing: inherit;
}

body,
#app {
	box-sizing: border-box;
	font-family: Roboto, sans-serif !important;
	font-weight: 400 !important;
}

html,
body,
#app,
#app > div {
	height: 100%;
	width: 100%;
}
